{% extends 'ecosite/base.html' %}

{% block title %}Hedgehog{% endblock %}
{% block custom_styles %}
<link href="../static/css/headers.css" rel="stylesheet">
{% endblock %}

{% block content %}
<main>
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <div class="col-md-3 mb-2 mb-md-0">
                <a href="{% url 'ecosite:index' %}" class="d-inline-flex link-body-emphasis text-decoration-none">
                    <img src="../../static/FullLogo.png" width="50%" height="50%" role="img"/>
                </a>
            </div>
            <ul class="nav col-12 col-md-auto mb-2 mb-md-0">
                <li><a href="{% url 'ecosite:index' %}" class="nav-link px-2 link-secondary">Главная</a></li>
                <li><a href="{% url 'ecosite:statistics' %}" class="nav-link px-2">Статистика</a></li>
                <li><a href="{% url 'ecosite:about' %}" class="nav-link px-2">О нас</a></li>
            </ul>
            <div class="col-md-3 text-end">
              {% if not authorized %}
                <a href="{% url 'ecosite:login' %}">
                    <button type="button" class="btn btn-primary">Войти</button>
                </a>
              {% else %}
                <ul class="nav col-12 mb-2 mb-md-0 col-md-auto justify-content-end">
                    <li class="text-center d-flex align-items-center"><a href="{% url 'ecosite:profile' %}" class="nav-link px-2">{{ email }}</a></li>
                    <li class="text-center d-flex align-items-center"><a class="nav-link px-2"><button type="submit" class="btn btn-primary" onclick="quit()">Выйти</button></a></li>
                </ul>
              {% endif %}
            </div>
        </header>
    </div>
</main>
    
<body>
<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Проект "Hedgehog"</h1>
        <p class="lead text-body-secondary">Наш проект нацелен на озеленение города! Хотите помочь нам?</p>
        <p class="lead text-body-secondary"></p>
        <p class="lead text-body-secondary">Создавайте профиль и присоединяйтесь по кнопке ниже!</p>
        <p>
          <a href="{% url 'ecosite:registration'%}" class="btn btn-primary my-2">Создать профиль</a>
        </p>
      </div>
    </div>
  </section>
  <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><image width="100%" height="140%" xlink:href="../../static/Botainc.jpg"></svg>
            <div class="card-body">
              <p class="card-text">Ботанический сад, ул. Тимирязева 36Д, Алматы. Сад славится своей красотой и разнообразием фауны, помогите ему сохранить её.</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><image width="100%" height="105%" xlink:href="../../static/Sairan.jpg"></svg>
            <div class="card-body">
              <p class="card-text">Сайранский Парк Спортивного Отдыха, ул. Тлендиева - Толе Би. Из-за облильного посещения места людьми, Сайранское водохранилище и пребрежные зоны подвержены загрязнению мусором.</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><image width="100%" height="140%" xlink:href="../../static/Bauma.jpg"></image></svg>
            <div class="card-body">
              <p class="card-text">Роща имени Баума - государственный памятник природы расположенный в городе Алматы, уникальный природный лесной комплекс. Сохраняйте и дальше чистоту этого места.</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><image width="100%" height="140%" xlink:href="../../static/South.jpg"></image></svg>
            <div class="card-body">
              <p class="card-text">Парк "Южный", ул. Жарокова, имеет три аллеи, большую часть времени люди проводят на первых двух, благодаря государственной помощи он развивается.</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><image width="100%" height="140%" xlink:href="../../static/Barakholka.jpg"></image></svg>
            <div class="card-body">
              <p class="card-text">Барахолка, людям нет дела до чистоты переулков и самого места. Вопреки людям попробуйте изменить это место в лучшую сторону.</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><image width="100%" height="140%" xlink:href="../../static/Park.jpg"></image></svg>
            <div class="card-body">
              <p class="card-text">Набережная реки Весновки носит имя выдающегося казахского поэта и писателя Хамита Ергалиева. Это место должно показывать казахскую солидарность и красоту.</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}

{% block custom_scripts %}
<script type="text/javascript" src="../static/js/auth/quit.js"></script>
{% endblock %}
